body{

    --background-color: white;
    --text-color: black;
    --button-text-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-color: var(--background-color);
    color: var(--text-color);
   
}

body.dark{
    --color: gold;
    --background-color: black;
    --text-color: white;
}

.button{
    height: 5rem;
    width: 11rem;
    border-radius: 6%;
}

.button-image{
    height: 4rem;
    width: 8rem;
}

.button-dark{
    height: 5rem;
    width: 11rem;
    border-radius: 6%;
    background-color: aqua;
}

.heading-text{
    font-size: 2.5rem;
}

.heading-text-dark{
    font-size: 2.5rem;
    color: pink;
}